.Weekly_schedule{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.schedule_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    width: 100%;
    border: 1px dashed lightgrey;
    border-radius: 6px;
    margin: 2em 2em auto auto;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.schedule_heading{
    margin-top: 1em;
    text-decoration: underline;
}
.schedule_team_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.schedule_team_1_name{
    margin-right: 2em;
}
.schedule_team_1_IMG{
    height: 100%;
    width: 20%;
    border: 1px dashed lightgrey;
    background-color: red;
}
.schedule_details{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0;
    margin: 0;
}
.schedule_day_of_week{
    font-size: small;
    padding: 0;
    margin: 0;
}
.schedule_full_date{
    font-size: small;
    padding: 0;
    margin: 0;
}
.schedule_place_bet{
    font-size: medium;
    padding: 0;
    margin: 0;
}
.schedule_team_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.schedule_team_2_name{
    margin-left: 2em;
}

.schedule_team_2_IMG{
    height: 100%;
    width: 20%;
    border: 1px dashed lightgrey;
    background-color: blue;
}
