body {
    color: #272727;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}
.home_container {
    max-width: 100%;
}

/* ------------------------------------------------ */

/* Player Specific CSS (Start) */
.divider {
    width: 94%;
    margin: auto;
}
.roster {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-size: 4.5vw;
}
.player_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    max-width: 95%;
    margin: auto;
}
.player_image {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.container_card {
    width: 20%;
}
.main_card {
    border: 1px solid black;
    border-radius: 0.75rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    height: auto; /* Is this something we want to use? */
    width: 95%;
    margin: 25px auto;
}
.card_content {
    width: 100%;
    text-align: center;
    margin: auto;
}
.card_title {
    font-size: 1.5vw;
}
.card_info {
    font-size: 1vw;
}
/* Player Specific CSS (End) */

/* ------------------------------------------------ */

/* Team Specific CSS (Start) */
.team_container {
    max-width: 95%;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}
.team_containerLeft {
    width: 40%;
    display: flex;
    justify-content: center;
}
.team_image {
    height: 22vw;
    width: 22vw;
}
.team_containerRight {
    width: 60%;
    margin: auto;
}
.team_title {
    text-align: center;
    margin: auto;
    max-width: 100%;
    font-size: 4vw;
}
.team_info {
    text-align: center;
    margin: auto;
    max-width: 100%;
    font-size: 2vw;
}
/* Team Specific CSS (End) */

/* ------------------------------------------------ */

/* Dropdown Specific CSS (Start) */
.dropdown_form {
    width: 98%;
    height: auto;
    font-size: 1.15vw;
    margin: 5px auto;
    display: flex;
}
.dropdown_select {
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
}
.dropdown_button {
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 1%;
}
/* Dropdown Specific CSS (End) */

/* ------------------------------------------------ */

/* Media Query CSS both Player & Team */
@media(max-width: 1250px) {
    .container_card {
        width: 25%;
    }
}
@media(max-width: 950px) {
    .container_card {
        width: 33.33%;
    }
    .card_title {
        font-size: 2.5vw;
    }

    .card_info {
        font-size: 1.75vw;
    }
    .dropdown_form {
        font-size: 1.5vw;
    }
}
@media(max-width: 650px) {
    .container_card {
        width: 50%;
    }
    .card_title {
        font-size: 4.25vw;
    }

    .card_info {
        font-size: 2.80vw;
    }
    .team_info {
        font-size: 3vw;
    }
    .team_title {
        font-size: 5vw;
    }
    .dropdown_form {
        font-size: 4.5vw;
        justify-content: space-between;
        height: auto;
    }
    .dropdown_select {
        width: auto;
    }
    .dropdown_button {
        font-size: 2vw;
    }
    .roster {
        margin-bottom: 0;
    }
}
