body {
    color: #272727;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}
h1 {
    width: 85%;
    text-align: center;
    font-size: 3em;
    margin: auto;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

/* ------------------------------------------------ */

/* Player Specific CSS (Start) */
.player_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    max-width: 95%;
}
.container_card {
    width: 20%;
}
.main_card {
    border: 1px solid black;
    border-radius: 0.75rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    height: auto; /* Is this something we want to use? */
    width: 95%;
    margin: 25px auto;
}
.card_content {
    width: 100%;
    text-align: center;
    margin: 5px auto;
}
.card_title {
    font-size: 1.5em;
}
.card_info {
    font-size: 1.10em;
}
/* Player Specific CSS (End) */

/* ------------------------------------------------ */

/* Team Specific CSS (Start) */

/* Team Specific CSS (End) */

/* ------------------------------------------------ */

/* Media Query CSS both Player & Team */
@media(max-width: 1250px) {
    .container_card {
        width: 25%;
    }
}
@media(max-width: 950px) {
    .container_card {
        width: 33.33%;
    }
}
@media(max-width: 650px) {
    .container_card {
        width: 50%;
    }
}
