@media screen and (max-width:576px) {

    .IMG{
        display: none;
    }
    .logoContainer{
       display: none;
    }
    .Landing{
        width: 100%;
    }
    .formContainer{
        width: 100%;
    }
    .usernameContainer{
        width: 100%;
    }
    .formTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .message{
        margin: 3em auto;
        width: 60%;
        font-size: x-large;
    }
    .formDiv{
        width: 100%;
        border: 1px solid lightgrey;
        border-radius: 6px;
        padding-top: 3em;
        padding-bottom: 3em;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    .inputBox2{
        height: 3em;
        border: none;
        border-bottom: 1px solid lightgrey;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        outline: none;
    }
    #landingButton{
        height: 3em;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .75em;
    }
    #landingButton2{
        height: 3em;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .buttonContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .inputDiv{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .inputDiv2{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
    }
}

.Landing{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.logoContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.IMG{
    width: 80%;
    height: 40vh;
}
.usernameContainer{
    width: 100%;
}
.formTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.message{
    margin: 3em auto;
    width: 60%;
    font-size: x-large;
}
.formDiv{
    width: 60%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding-top: 3em;
    padding-bottom: 3em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.inputBox2{
    height: 3em;
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}
#landingButton{
    height: 3em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .75em;
}
#landingButton2{
    height: 3em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.buttonContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inputDiv{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.inputDiv2{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}
@media (max-width: 768px) {
    .logoContainer {
        height: 98%;
        width: 50%;
        margin: auto;
    }
    .formTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .formContainer {
        width: 50%;
        height: auto;
        margin: auto;
    }
    .formDiv {
        width: 90%;
        height: auto;
        padding: 0 0 15px 0;
    }
    .landing {
        height: auto;
        margin: auto;
    }
}
@media (max-width: 425px) {
    .logoContainer {
        height: 0;
        width: 0;
    }
    .formTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .formContainer {
        width: 98%;
        height: 98%;
        margin: auto;
    }

    .formDiv {
        margin: 10px auto;
        width: 90%;
        height: auto;
        padding: 0 0 15px 0;
    }

    .landing {
        height: 100%;
    }
}

@media (max-width: 320px) {
    .logoContainer {
        height: 0;
        width: 0;
    }
    .formTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;

    }
    .formContainer {
        width: 98%;
        height: 98%;
        margin: auto;
    }
    .formDiv {
        margin: 10px auto;
        width: 90%;
        height: auto;
        padding: 0 0 15px 0;
    }
    .landing {
        height: 100%;
    }
    h2{
        margin: 0;
    }
}
