/* MOBILE CSS */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





.landingForm {
    display: grid;
    margin: 50px auto;
    border: solid black;
    borderRadius: 25px;
    width: 40vw;
    height: 60vh;
}

.registerBtn {
    background-color: lightskyblue;
    gridColumn: 1;
    gridRow: 4;
    margin: auto;
    /*width: 60vw;*/
    /*height: 60vh;*/
    display: flex;
    justifyContent: center;
    justifyItems: center;
    alignItems: center;
    borderRadius: 10px;
}

.edit {
    display: flex;
    margin: auto;
    width: 95vw;
    height: 95vh;
}

.Edit form {
    display: grid;
    margin: auto;
    width: 60vw;
    height: 85vh;
}



/* ANYTHING BIGGER THAN 576px, apply these styles*/
@media screen and (min-width: 576px) {

    .landingForm {
        display: grid;
        margin: auto;
        border: solid black;
        borderRadius: 15px;
        width: 40%;
        height: 60%;
        /*background-color: blueviolet;*/
    }

    .landingPage {
        display: flex;
        justify-content: center;
        margin: 50px;
        width: 95vw;
        height: 95vh;
    }


}

@media screen and (max-width: 576px) {

    .landLogo{
        display: none;
    }

    .message{
        display: none;
    }


    .landingForm {
        width: 60vw;
        height: 60vh;
    }

    /*.landingPage {*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    margin: auto;*/
    /*    width: 95vw;*/
    /*    height: 95vh;*/
    /*}*/



    /*.landingPage {*/
    /*    display: none;*/
    /*}*/
}
