/* MOBILE CSS */
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    font-family: 'Oswald', sans-serif;
    font-size:large;
}


.landingForm {
    display: grid;
    margin: 50px auto;
    border: solid black;
    border-radius: 25px;
    width: 40vw;
    height: 60vh;
}

.registerBtn {
    background-color: lightskyblue;
    grid-column: 1;
    grid-row: 4;
    margin: auto;
    width: 25%;
    height: 55%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
}

.edit {
    display: flex;
    margin: auto;
    width: 95vw;
    height: 95vh;
}

.Edit form {
    display: grid;
    margin: auto;
    width: 60vw;
    height: 85vh;
}



/* ANYTHING BIGGER THAN 576px, apply these styles*/
@media screen and (min-width: 576px) {

    .landingForm {
        display: grid;
        margin: auto;
        border: solid black;
        border-radius: 15px;
        width: 40%;
        height: 60%;
        /*background-color: blueviolet;*/
    }

    .landingPage {
        display: flex;
        justify-content: center;
        margin: 50px;
        width: 95vw;
        height: 95vh;
    }


}

@media screen and (max-width: 576px) {

    .landLogo{
        display: none;
    }

    .message{
        display: none;
    }


    .landingForm {
        width: 60vw;
        height: 60vh;
    }




    /*.landingPage {*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    margin: auto;*/
    /*    width: 95vw;*/
    /*    height: 95vh;*/
    /*}*/



    /*.landingPage {*/
    /*    display: none;*/
    /*}*/
}
